.img {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  background-image: url("../../assets/images/background.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
  filter: blur(2px);
}
.loginBox {
  background-color: #fff;
  position: absolute;
  top: 55%;
  right: 17%;
  padding: 40px 30px;
  border-radius: 12px;
  transform: translateY(-50%);
}
.footer {
  text-align: center;
}
