.container {
  background-color: #fff;
  padding: 16px;
}
.container .left .banner {
  background-image: url("@/assets/images/banner.png");
  background-size: 100% 100%;
  border-radius: 8px;
  display: flex;
  padding: 16px;
  color: #fff;
  margin-bottom: 25px;
}
.container .left .banner .avatar {
  width: 75px;
  margin-right: 20px;
}
.container .left .banner .banner-info {
  width: 100%;
}
.container .left .banner .banner-info .name {
  display: flex;
  align-items: center;
}
.container .left .banner .banner-info .name .name2 {
  margin-right: 20px;
}
.container .left .banner .banner-info .name .tag {
  background-color: #f7dabe;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 16px;
  padding: 0px 20px 0px 0;
  font-size: 10px;
  color: #dab696;
}
.container .left .banner .banner-info .name .tag span:first-child {
  background-color: #fff7e2;
  width: 16px;
  height: 16px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
.container .left .banner .banner-info .name .tag span {
  line-height: 16px;
}
.container .left .banner .banner-info .process {
  display: flex;
  font-size: 12px;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.container .left .banner .banner-info .process span {
  white-space: nowrap;
  margin-right: 10px;
}
.container .left .banner .banner-info .banner-detail {
  display: flex;
  font-size: 12px;
  margin-bottom: 30px;
}
.container .left .banner .banner-info .banner-detail div {
  width: 50%;
}
.container .left .banner .banner-info .banner-detail div div {
  line-height: 23px;
  width: 100%;
  display: flex;
}
.container .left .banner .banner-info .banner-detail div div span:first-child {
  width: 100px;
  text-align: left;
}
.container .left .banner .banner-info .banner-detail div div span:last-child {
  width: 150px;
  text-align: left;
  white-space: nowrap;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-slider-horizontal {
  width: 200px;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-slider-horizontal .ant-slider-rail {
  background-color: #8f9eff;
}
