.companyContainer {
  background-color: #fff;
  padding: 16px;
}
.companyContainer .left .banner {
  background-color: #4C69FF;
  background-size: 100% 100%;
  border-radius: 8px;
  display: flex;
  padding: 16px;
  color: #fff;
  margin-bottom: 25px;
}
.companyContainer .left .banner .avatar {
  width: 75px;
  margin-right: 20px;
}
.companyContainer .left .banner .banner-info {
  width: 100%;
}
.companyContainer .left .banner .banner-info .name {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}
.companyContainer .left .banner .banner-info .name .name2 {
  margin-right: 20px;
}
.companyContainer .left .banner .banner-info .companyRank {
  color: #F7B500;
  font-size: 14px;
  margin-bottom: 24px;
}
.companyContainer .left .banner .banner-info .companyId {
  margin-bottom: 10px;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-slider-horizontal {
  width: 200px;
}
:where(.css-dev-only-do-not-override-1rqnfsa).ant-slider-horizontal .ant-slider-rail {
  background-color: #8f9eff;
}
